body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f5f5f5;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#projekty-lista {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projekt {
    width: 250px;
    background: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.projekt img {
    width: 100%;
    border-radius: 8px;
}
